USER_UUID="d34256df-53a2-40e0-a48d-d07092bfeff3"
BUCKET_NAME="exampro-bootcamp-website-bucket-created-by-terraform"
FILE_index_html="public/index.html"
FILE_error_html="public/error.html"
assets_path="public/assets/"
content_version=4