USER_UUID="d34256df-53a2-40e0-a48d-d07092bfeff3"
terratowns_endpoint="https://terratowns.cloud/api"
arcanum = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/arcanum"
  content_version = 2 
}
darkknight = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/darkknight"
  content_version = 1 
}